/* *********************** */

/* GENERALITIES */

/* *********************** */
*{
    box-sizing: border-box;
}

img{
    width: 5rem;
    height: 5rem;
}

h2 {
    font-size: 2rem;
}
a {
    text-decoration: none;
}

/* *********************** */

/* UTILITIES */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

#generate {
    all: unset;
    border: 1px solid #306EA9;
    border-radius: 4px;
    padding: 1rem 2.5rem;
    margin: 2rem;
    background-color: #F2C206;
    cursor: pointer;
    transition: all .5s;
}

#generate:hover {
    background-color: #306EA9;
    color: #F2C206;
    transform: scale(1.1);
}
/* *********************** */



/* *********************** */

/* MAIN */

/* *********************** */

/* Header */
header {
    background-color: #306EA9;
}
    
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center
}
header h1 {
    margin: 0;
    padding: 1rem 0;
}

h1 a,
nav a {
    color: #F2C206;
}

/* Table */
.pokemonType{
    width: 2.5rem;
    height: 2.5rem;
}

table {
    border: 1px solid rgb(217, 216, 216);
    margin: 0 auto;
    text-align: center;
    width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
}

table a {
    text-decoration: none;
    color: #306EA9;
}
th {
    background-color: lightBlue;
    padding: 1rem;
}

td {

    border-bottom: 1px solid rgb(217, 216, 216);
    background-color: rgba(226, 226, 226, 0.223);
}

tr:nth-child(odd) {
    background-color: rgba(226, 226, 226, 0.273);
}

tr:hover {
    background-color: rgba(226, 226, 226, 0.365)
}

/* Modal */
.modalContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.modal {
    position: fixed;
    background-color: #fff;
    width: 50rem;
    height: 30rem;
    top: 100px;
    display: none;
    text-align: center;
    padding: 1rem;
}

.modalDisplay {
    transition: all 1s;
    display: block;
}

.overlay {
    background-color: rgba(131, 131, 131, 0.56);
    min-height: 100vh;
    width: 100%;
    position: absolute;
}

.modalImg {
    height: 20rem;
    width: 20rem;
}

.btn {
    all: unset;
    height: 2rem;
    width: 2rem;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    background-color: black;
}
/* GENRATOR */

.containerGeneratePokemon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    }
    
    #articleElt {
        border: 2px solid #306EA9;
        text-align: center;
        padding: 1rem;
        margin: 1rem;
    }
    
    #articleElt img {
        height: 15rem;
        width: 100%;
        object-fit: contain;
    }
    
    .pokemonsContainer {
        border: 2px solid #306EA9;
        margin: 0 1rem;
    }
    
    #divContainer {
        display: flex;
        width: 100%;
        justify-content: center;
}